# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# Firebase
firebase-adminsdk-*.json
*-firebase-adminsdk-*.json
service-account.json
firebase-debug.log
firestore-debug.log
database-debug.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#docs
docs/